<h3>Comments</h3><hr/>

<div id='comments'>
	<% @comments.each do |comment| %>
		<div class='comment'>
			<strong><%= comment.user.name %></strong> | <%= comment.created_at.strftime("%Y-%d-%m %H:%M:%S %Z") %><br/><br/>
			<%= comment.content %>
			<hr/>
		</div>
	<% end %>
</div>
